node_modules/
build/
dist/
.dart_tool/
.flutter-plugins*
**/ios/Pods/
**/android/.gradle/
**/android/local.properties
.env
.DS_Store

# Firebase configs (do not commit sensitive files)
**/google-services.json
**/GoogleService-Info.plist
**/firebase_app_id_file.json
**/firebase.json
